
// Backgrond-colors
$bg-dark: #0D0D0D;
$bg: #1A1A1A;
$bg-light: #262626;

// Text-colors
$text: #F2F2F2;
$text-muted: #BFBFBF;

// Border-colors
$highlight: #666666;
$border: #4D4D4D;
$border-muted: #404040;

// Alert-colors
$danger: #F87171;
$warning: #FBBF24;
$success: #34D399;
$info: #60A5FA;

// Action-colors
$primary: #14B8A6;
$secondary: #EC4899;
